snippet stddebug "std.debug.print(...)"
	std.debug.print("${1:text}", .{});

snippet importstd "const std = @import("std");"
	const std = @import("std");

snippet conststd "const std = @import("std");"
	const std = @import("std");

snippet conststd "const std = @import("std");"
	const std = @import("std");
